.grid-container-component {
    display: grid;  
    grid-gap: 20px;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-template-rows: auto auto auto; 
}
