.card-container {
  width: 220px;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px;
  overflow: hidden;
  text-align: center;
}


.model-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.main-content {
  padding: 15px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  font-family: Times New Roman;
  text-transform: capitalize;
}

.main-content h1, .main-content h2, .main-content p {
white-space: normal; /* 确保文本不是 nowrap */
overflow-wrap: break-word; /* 防止文本溢出容器 */
}

.main-content h1 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.main-content h1 a {
  color: inherit;
  text-decoration: none;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.small-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}