.login-container {
    background-image: url('../../assets/image/loginbg.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 覆盖整个视口 */
    background-position: center; /* 图片居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 使登录框垂直居中 */
    
  }
  
  .login {
    background-color: rgba(195, 222, 234, 0.8);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(206, 10, 10, 0.1);
    width: 300px; 
  }
  
  .login h3 {
    margin-bottom: 1em;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: .5em;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .actions {
    margin-bottom: 1em;
  }
  
  .reset-password {
    padding: 1em;
    display: block;
    text-align: right;
    margin-bottom: 1em;
    color: #0066ee; 
    text-decoration: none;
    font-size: 0.8em;
  }
  
  .login-button {
    width: 100%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: rgba(8, 12, 13, 0.8);
    color: white;
    cursor: pointer;
    font-size: 1em;
  }
  
  .login-button:disabled {
    background-color: #cccccc; /* 按钮禁用时的颜色 */
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .register-link {
    text-align: center;
    font-size: 0.9em;
  }
  
  .create-one {
    color: #0066ee; /* 蓝色 */
    text-decoration: none;
    font-weight: bold;
  }