
.predict-page-container {
    height: 100vh;
    width: 100vw;
}
.predict-page-container .back-to-homepage-button-component {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 8px 15px;
}
.header-text {
    font-size: 24px;
    padding-top: 10px;
    color: black;
    text-align: center;
    margin: 10px 0; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
}
.result-text-container {
    text-align: center;
    margin: 20px auto; 
    width: 40%; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
    border-radius: 8px;
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
    text-align: justify;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
}

.model-predict-output-container {
    height: 400px; /* 设置合适的高度 */
    overflow-y: auto; /* 启用垂直滚动条 */
    overflow-x: auto; /* 启用水平滚动条 */
    max-width: 60%; 
    margin: 20px auto; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    padding: 20px; 
    border-radius: 8px; 
}
.model-predict-output-container::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
    height: 8px; /* 水平滚动条高度 */
  }
  
  .model-predict-output-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 滚动条轨道背景色 */
    border-radius: 8px; /* 边框圆角 */
  }
  
  .model-predict-output-container::-webkit-scrollbar-thumb {
    background-color: #888; /* 滚动条滑块颜色 */
    border-radius: 8px; /* 滑块圆角 */
  }
  
  .model-predict-output-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 滑块悬停时颜色 */
  }
.table-container {
    width: 100%; /* 设置合适的宽度 */
    
  }

.data-table {
    width: 100%; 
    border-collapse: collapse; 
}

.data-table th, .data-table td {
    border: 1px solid #ccc; 
    padding: 10px; 
    white-space: nowrap;
    text-align: center; 
    font-family: 'Arial', sans-serif; 
}

.data-table thead th {
    background-color: #282829; 
    color: white; 
    font-size: 10px; 
}

.data-table tbody td {
    font-size: 10px; 
    color: #333; 
}

.data-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

.data-table tbody tr:hover {
    background-color: #f1f1f1; 
}
