.makemodel-page-container {
  padding-top: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.makemodel-toggle-show-csv-button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 150px;
  height: 25px;
  margin-top: 10px;
}

.makemodel-toggle-show-csv-button:hover {
  background-color: #3b3b3b;
}

.back-button{
  position: fixed;
  left:20px;
}

.makemodel-page-header,
.makemodel-page-sub-header {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.makemodel-model-type-selection-header{
  font-weight: bold;
}

.makemodel-page-container .logout-button-component {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 8px 15px;
}

.makemodel-page-container .start-training-button-component {
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.makemodel-page-container::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}

.model-name-input input {
  color:black;
  width: 100%;
  max-width: 450px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.makemodel-page-header {
  color: black;
  margin-bottom: -15px;
}

.makemodel-content-area {
  max-width: 500px;
  margin: 10px auto;
  border: 3px solid #eee;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);

}

.makemodel-model-name-input,
.makemodel-upload-section {
  margin-bottom: 10px;
}

.makemodel-model-name-input label,
.makemodel-upload-section h4 {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.makemodel-model-name-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.makemodel-model-type-selection {
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.makemodel-model-type-selection h4 {
  margin-bottom: 10px;
}

.makemodel-model-type-selection select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'><polygon points='12 5 8 9 4 5'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  margin-bottom: 15px;
}

.makemodel-model-type-selection select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 150, 255, 0.5);
}

.webgl2{
  position:relative;
  width: 500px;
}