.model-progress-container {
  position: absolute;
  top: 25%;
  left: 2.5%;
  max-width: 400px;  
  max-height: 300px;
}

.model-training-output-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-left: 10px;
}

.update-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.update-list li {
  margin-bottom: 10px;
}

.right-half {
  width: 65%;
  height: 100%;
}
